{% extends "base.html" %} -->
{% block title %} Password Manager {% endblock %} -->



{% block content %} 

    <div class="container-sm shadow p-3 mb-5 bg-body rounded">
        <form action="" method="post">
            {{ form.hidden_tag() }}
                {{ form.website (class="form-control")}}
                {{ form.login (class="form-control") }}
                {{ form.password (class="form-control") }}
                {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <div class="container-sm shadow p-3 mb-5 bg-body rounded">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Website</th>
                <th scope="col">Login</th>
                <th scope="col">Password</th>
            </tr>
            </thead>
            <tbody>
                {% for item in values %}
                <tr>
                <th scope="row">{{item.id}}</th>
                    <td> {{item.website}}</td>
                    <td> {{item.login}}</td>
                    <td> {{item.password}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

    <!-- <form action="#" method="post">
        <p>Name to delete</p>
        <p><input type="text" name="nm" /></p>
        <p><input type="submit" class="btn btn-danger" value="Delete "/></p>
    
    </form> -->


{% endblock %} 